*{
    box-sizing: border-box;
}

:root {
    --font-m: 'Montserrat', sans-serif;
    --font-p: 'Playfair Display', serif;
}

main {
    margin: 52px 237px 215px 234px;
    font-family: var(--font-m);
}

picture img {
    height: 470px;
    width: 969px;
}

.container {
    width: 637px;
}

.upper {
    display: flex;
}

label p {
    margin-top: -24px;
    margin-left: 32px;
}

.flex {
    display: flex;
    flex-direction: column;
}

header h1 {
    font-weight: 700;
    font-size: 48px;
    font-family: var(--font-p);
}

header p {
    position: relative;
    padding-left: 30px;
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
}

header p:before {
    content: "• • •\A • • •";
    font-size: 12px;
    line-height: 0.5;
    color: #C4C4C4;
    position: absolute;
    display: inline-block;
    white-space: pre-wrap;
    top: 0;
    left: 0;
}

h1 {
    font-family: var(--font-p);
}

h2 {
    font-family: var(--font-p);
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

h7 {
    color: #BDBDBD;
}

input[type=checkbox] {
    width: 21px;
    height: 21px;
    border: 1px solid;
    border-color: #828282;
    border-radius: 4px;
    /* border radius çalışmıyor */
}

span {
    font-weight: 700;
}

form, .instructions p {
    color: #333333;
}

.instructions {
    counter-reset:counter;
}

.instructions p {
    position: relative;
    margin: 51px;
}

.instructions p::before {
    content:counter(counter); 
    counter-increment: counter;
    position: absolute;
    left: -47px;
    background-color: #F2994A;
    width: 36px;
    height: 36px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

section {
    position: relative;
}

.box {
    background: #FFFFFF;
    position: absolute;
    width: 216px;
    height: 367px;
    left: 984px;
    top: 675px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 57px 51px 49px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 6px;
}

.material-symbols-outlined {
    font-size: 27px;
    color: #F2994A;
}

.time, .logo{
    display: flex;
    align-items: center;
    gap: 13px;
}

.txt-grey {
    color: #BDBDBD;
    font-weight: 700;
    font-size: 10px;
}

.txt-orange {
    color: #F2994A;
    font-weight: 500;
    font-size: 14px;
}

.txt-dark {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

footer {
    margin-top: 94px;
    display: flex;
    justify-content: center;
    color: #828282;
}

@media only screen and (max-width:768px) {

    main {
        width: 375px;
        height: 3226px;
        margin: auto 12px auto 11px;
    }

    header h1 {
        font-size: 24px;
    }

    header p {
        height: 88px;
        width: 360px;
    }

    .upper {
        flex-direction: column-reverse;
    }

    .box {
        left: 11px;
        top: 399px;
        width: 345px;
        height: 88px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 0;
        background-color: #FFFFFF;
        box-shadow: none;
    }

    .times {
        display: flex;
        flex-direction: row;
    }

    picture img {
        width: 409px;
        /* it looks bad if the width is 352px */
        height: 213px;
    }

    .container {
        margin-top: 131px;
    }

    section {
        width: 422px;
        height: 701px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 16px;
    }

    .instructions h1 {
        font-size: 24px;
    }

    .instructions p {
        font-size: 16px;
    }

    .instructions {
        margin: auto 12px;
    }

    footer {
        margin-top: 1680px;
    }
    
}
